.deps
.libs
build
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
amqp.la
*.lo
autom4te.cache/
config.guess
config.sub
config.h
config.h.in
config.nice
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
